/* ---------------- Fonts */

@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Oxygen:wght@300;400&display=swap');

@font-face {
  font-family: 'gods_own_junkyardregular';
  src: url('fonts/godsownjunkyard-regular-webfont.woff2') format('woff2'),
       url('fonts/godsownjunkyard-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ---------------- Defaults and Variables */

:root {
    --white: #f8f8f8;
    --pink: #ff00fe;
    --cyan: #45c0fd;
    --dark: #63636b;
    --dark-blue: #070707;
  }

  * {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
  }
  
  body {
    color: var(--dark);
    font-family: Oxygen, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    background-color: var(--dark-blue);
  }

  h1 {
    grid-area: 4/4/7/10;
    align-self: center;
    font-size: 4.5rem;
    font-family: Nothing You Could Do, sans-serif;
    color: rgba(247, 230, 247, 0.9);
    font-weight: 400;
    text-align: center;
    animation: pulsate 1.5s infinite alternate;
  }

  button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }

/* ---------------- Neon frame */

#box-border-top-blue {
    grid-area: 3/5/3/8;
    height: 1px;
    margin-left: 2em;
  }
  
  #box-border-top-pink {
    grid-area: 2/6/2/10;
    height: 1px;
    margin-right: 1em;
    margin-left: 2em;
  }
  
  #box-border-right-blue {
    grid-area: 6/10/11/10;
    width: 1px;
    margin-bottom: 3em;
    justify-self: end;
  }
  
  #box-border-right-pink {
    grid-area: 5/11/9/11;
    width: 1px;
    justify-self: end;
    margin-top: -3em;
  }
  
  #box-border-bottom-blue {
    grid-area: 11/5/11/10;
    height: 1px;
    margin-left: 6em;
    margin-right: 4em;
  }
  
  #box-border-bottom-pink {
    grid-area: 12/5/12/7;
    height: 1px;
    align-self: end;
    margin-right: -5em;
    margin-left: -5em;
  }
  
  #box-border-left-blue {
    grid-area: 5/3/9/3;
    width: 1px;
    margin-top: 2em;
  }
  
  #box-border-left-pink {
    grid-area: 7/2/11/2;
    width: 1px;
    margin-top: -1em;
    margin-bottom: 2em;
  }
  
/* ---------------- Buttons */

#sbmt {
    padding: 0.8em;
    width: 100%;
    background-color: #f9e2fb;
    border: 1px solid #c3c7cd;
    border-radius: 15px;
    color: var(--dark);
    box-shadow: inset 2px -2px 6px 3px rgb(132 152 197 / 50%),
                      3px 3px 6px 3px rgb(132 152 197 / 50%);
    font-family: Oxygen, sans-serif;
    font-size: 70%;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  #next,
  #play-again,
  #change-name,
  .error button {
    font-family: Nothing You Could Do, sans-serif;
    color: rgba(247, 230, 247, 0.9);
    font-weight: 400;
    text-align: center;
    font-size: 150%;
    margin: 0.6em;
    background: none;
    border: 0.15rem solid #fbbafe;
    border-radius: 1.8rem;
    padding: 0.2em 1em;
    animation: pulsate 1.5s infinite alternate;
  }
  
  #next {
    grid-area: 1/2/1/5;
    align-self: end;
    justify-self: center;
    margin-bottom: 1.6em;
    z-index: 2;
  }

/* ---------------- Game frame */

#game-frame {
    display: grid;
    grid-template-rows: 1fr 20px 5px repeat(7, 11.5%) 5px 20px 1fr;
    grid-template-columns: 1fr 20px 5px repeat(6, 210px) 5px 20px 1fr;
    height: 100vh;
    background: url(../images/wallbg2.webp) no-repeat center center;
    background-size: cover;
  }
  
  #logo {
    grid-area: 2/2/6/5;
    background: url(../images/logo-big.png) no-repeat center center;
    background-size: contain;
    height: 180px;
    width: 300px;
    justify-self: center;
    margin: -2em 0 0 -1.5em;
    z-index: 2;
  }
  
/* ---------------- Home page */

#content-box {
    grid-area: 6/4/9/11;
    width: 400px;
    height: 250px;
    background-color: rgb(172 211 239 / 90%);
    padding: 5%;
    align-self: center;
    justify-self: center;
    justify-content: center;
    display: flex;
    margin-bottom: -3em;
  }
  
  form {
    width: 100%;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -0.5em;
  }
  
  input {
    padding: 1em;
    margin: 1em 0;
    width: 100%;
    border-radius: 15px;
    background-color: #f0f8ff;
    box-shadow: 0px 0px 8px 3px rgb(132 152 197 / 50%),
          inset 0px 1px 1px 1px rgb(132 152 197 / 50%);
  }

/* ---------------- Game page */

#game-area {
    grid-area: 3/3/11/10;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(5, 20%);
  }

/* ---------------- Difficulty section*/

#question-area,
#difficulty {
  grid-area: 1/1/1/6;
  width: 80%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

#difficulty {
  grid-area: 4/4/11/11;
  width: 100%;
}

#difficulty button {
  text-align: center;
  display: block;
}

/* ---------------- Question section */

#top-score-label,
#score-label {
  color: #b2eafe;
  font-size: 115%;
  font-family: Hind, sans-serif;
  font-weight: 400;
  text-shadow: 0 5px 0.5em var(--cyan),
               0 -5px 1em var(--cyan),
               0 0 1em var(--cyan),
               0 0 1em #f9fafb;
}

#top-score-label {
  grid-area: 1/4/1/4;
  margin-top: 2em;
}

#score-label {
  grid-area: 1/2/1/3;
  text-align: right;
  margin-top: 2em;
}

#question {
  width: 100%;
  min-height: 15%;
  background-color: rgba(203, 229, 247, 0.9);
  padding: 0.8em 1.3em 1.3em 1.3em;
  border: 0.15rem solid #e0bafe;
  border-radius: 1.8rem;
  box-shadow: 0 0 0.2rem 2px #c672ef, 
              0 0 1rem #8811bc, 
              0 0 1em #4e1055, 
              0 0 4rem 4px #ee6eea, 
              0 0 0px 0.2rem #9a0bff, 
        inset 0 0 0.5rem 1px #bb50ff, 
        inset 0 0 1px 0.15rem #ddb0fb;
}

#question-count {
  text-align: center;
  color: rgba(99, 99, 107, .6);
}

#answers-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: stretch;
  justify-content: center;
  grid-area: 6/3/8/5;
}

.answer,
.difficulty {
  display: flex;
  width: 49%;
  background-color: rgba(203, 229, 247, 0.9);
  padding: 0.8em 1.3em;
}

.answer {
  align-items: center;
  text-align: inherit;
}

/* ---------------- Classes for JS */

.correct {
  background-color: rgb(159, 235, 159);
}

.incorrect {
  background-color: rgb(231 170 194);
}

.fade {
  color: rgba(99, 99, 107, .4);
  background-color: rgba (180, 180, 205, .5);
}

.hide {
  display: none !important;
}

/* ---------------- Modal */

#modal-wrapper.show {
  opacity: 1;
  pointer-events: auto;
}

#modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 4;
}

#modal-content {
  background-color: var(--dark-blue);
  color: var(--white);
  width: 70vw;
  max-width: 100%;
  border-radius: 1em;
  padding: 1em;
}

/* ---------------- Highscores table */

th,
td {
  border-bottom: 1px dotted rgb(255, 255, 255, 0.8);
  padding: 0.2em 3em;
}

table {
  margin-left: auto;
  margin-right: auto;
}

/* ---------------- Fun Fact page */

#funfact {
  background: url(../images/wallbg2.webp) no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#fun-neon,
#fact-neon {
  font-family: 'gods_own_junkyardregular', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 5em;
  text-transform: uppercase;
}

#fun-neon {
  color: var(--white);
  text-shadow: 0 0 10px #fff, 
               0 0 40px #d9e5f2, 
               0 0 60px #dbe6f2, 
               0 0 70px #e2edf3;
}

#fact-neon {
  color: #f999fe;
  text-shadow: 0 0 10px #ff00ee, 
               0 0 40px #ff00ee, 
               0 0 60px #ff00ee, 
               0 0 70px #ff00ee;
}

#funfact-container {
  background-color: rgba(203, 229, 247, 0.9);
  padding: 1em;
  width: 60%;
  margin: 0.5em 2em 0.5em 2em;
}

#funfact button {
  margin-bottom: 0.1em;
}

/* ----- Loader */

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark-blue);
  z-index: 10;
}

.gooey {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: var(--dark-blue);
  filter: contrast(20);
}

.gooey .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: var(--pink);
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}

.gooey .dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}

.gooey .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: var(--pink);
  border-radius: 50%;
}

@-moz-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}

@-webkit-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}

@-o-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}

@-moz-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}

@-webkit-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}

@-o-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}

/* ---------------- Orientation message */

#orientation {
  opacity: 1;
  pointer-events: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
  color: #84b5e3;
  font-size: 1.3em;
  
}

#logo-orientation {
  background: url(../images/logo-big.png) no-repeat center center;
  background-size: contain;
  height: 100px;
  width: 130px;
  margin-top: -1em;
}

/* ---------------- Error Page */

.error {
  background-color: #070707;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.error button {
  background: #070707;
  color: var(--white);
  padding: 0.4em 2em;
  margin: 1.5em 0.5em;
  width: 350px;
}


/* ---------------- Effects & Animation */

/* ----- Neon glow */

.border-glow-blue {
    border: 0.05rem solid #bae3fe;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 4px #51c6fe, 
                0 0 1rem 1px #84b5e3, 
                0 0 1rem 0px #a6e7f6, 
                0 0 2rem 2px #6ecaee, 
                0 0 0px 0.25rem #3eb1fe, 
          inset 0 0 0.5rem 1px #50a2ff, 
          inset 0 0 1px 2rem #57daff;
  }
  
  .border-glow-pink {
    border: 0.05rem solid #fbbafe;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 5px #e872ef,
                0 0 1rem 2px #b111bc,
                0 0 1em #4e1055,
                0 0 1rem 3px #ee6eee,
                0 0 0px 0.2rem #f60bff,
          inset 0 0 0.5rem 1px #f750ff,
          inset 0 0 1px 0.15rem #f8b0fb;
  }

  .white-glow {
    border: 0.15rem solid #d9f0f9;
    border-radius: 1.8rem;
    box-shadow: 0 0 0.2rem 2px #c5e1ef, 
                0 0 1rem #c5d7e8, 
                0 0 1em #b880be, 
                0 0 2rem 2px #c8e2ec, 
                0 0 0px 0.2rem #c2e2f7, 
          inset 0 0 0.5rem 1px #c5d8ef, 
          inset 0 0 1px 0.15rem #f0f4f6;
  }

  .blue-glow {
    border: 0.15rem solid #bae3fe;
    border-radius: 1.8rem;
    box-shadow: 0 0 0.2rem 2px #51c6fe, 
                0 0 1rem #84b5e3, 
                0 0 1em #4e1055, 
                0 0 2rem 2px #6ecaee, 
                0 0 0px 0.2rem #3eb1fe, 
          inset 0 0 0.5rem 1px #50a2ff, 
          inset 0 0 1px 0.15rem #57daff;
  }

  .pink-glow {
    border: 0.15rem solid #fbbafe;
    border-radius: 1.8rem;
    box-shadow: 0 0 0.2rem 2px #e872ef,
                0 0 1rem #b111bc,
                0 0 1em #4e1055,
                0 0 1rem 3px #ee6eee,
                0 0 0px 0.2rem #f60bff,
          inset 0 0 0.5rem 1px #f750ff,
          inset 0 0 1px 0.15rem #f8b0fb;
  }
  
  @keyframes pulsate {
    100% {
      text-shadow:
        0 0 4px rgba(248, 248, 248, .3),
        0 0 11px rgba(248, 248, 248, .5),
        0 0 19px rgba(248, 248, 248, .5),
        0 0 40px #ff00ee,
        0 0 80px #ff00ee,
        0 0 90px #ff00ee,
        0 0 100px #ff00ee,
        0 0 150px #ff00ee;
    }
  
    0% {
      text-shadow:
        0 0 2px rgba(248, 248, 248, .3),
        0 0 4px rgba(248, 248, 248, .5),
        0 0 6px rgba(248, 248, 248, .5),
        0 0 10px #ff00ee,
        0 0 45px #ff00ee,
        0 0 55px #ff00ee,
        0 0 70px #ff00ee,
        0 0 80px #ff00ee;
    }
  }

/* ----- Hover */

#next:hover, 
#play-again:hover,
#change-name:hover {
  border: 0.15rem solid #ffffff;
  color: rgb(255 255 255);
  animation: pulsate 3s infinite alternate;
}

a:hover,
button:hover,
#next:hover,
#sbmt:hover,
#play-again:hover,
#change-name:hover {
  cursor: url('../images/cursor.png'), auto;
}

#sbmt:hover {
  background-color: #efc8fb;
}

.pink-glow:hover {
  box-shadow: 0 0 0.2rem 2px #e872ef, 
              0 0 1rem #b111bc, 
              0 0 1em #4e1055, 
              0 0 1rem 3px #ee6eee, 
              0 0 0px 0.2rem #f60bff, 
        inset 0 0 0.5rem 1px #f750ff, 
        inset 0 0 20px 0.8rem #f2f5fb;
}

.blue-glow:hover {
  box-shadow: 0 0 0.2rem 2px #51c6fe, 
              0 0 1rem #84b5e3, 
              0 0 1em #4e1055, 
              0 0 2rem 2px #6ecaee, 
              0 0 0px 0.2rem #3eb1fe, 
        inset 0 0 0.5rem 1px #50a2ff, 
        inset 0 0 17px 0.4rem #6ac4f6;
}

/* ---------------- Media queries */

/* ----- Laptops */
@media only screen and (max-width: 1446px) {
  #game-frame {
    grid-template-rows: 1fr 20px 5px repeat(7, 12%) 5px 20px 1fr;
    grid-template-columns: 1fr 20px 5px repeat(6, 13%) 5px 20px 1fr;
  }

  #logo {
    margin: -1em 1em 0 0;
    height: 160px;
  }

  #ready {
    font-size: 3em;
  }
}

/* ----- Tablets */
@media only screen and (max-width: 991px) {
  #game-frame {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }

  #box-border-bottom-pink {
    margin-left: -1em;
  }

  #box-border-top-blue {
    margin-left: 5em;
  }

  #score-label {
    grid-area: 1/4/1/6;
    margin-top: 3em;
    text-align: inherit;
  }

  #top-score-label {
    grid-area: 1/4/1/6;
    margin-top: 1em;
  }

  .answer {
    width: 100%;
  }

  #modal-content {
    width: 95vw;
  }

  h1 {
    font-size: 3em;
  }

  #ready {
    margin-bottom: -1em;
  }
}

/* ----- Phones */
@media only screen and (max-width: 767px) {
  /* Defaults and Game frame */
  body {
    font-size: 1em;
  }

  #game-frame {
    grid-template-rows: 1fr 15px 5px repeat(7, 12.5%) 5px 15px 1fr;
    grid-template-columns: 1fr 15px 5px repeat(6, 13%) 5px 15px 1fr;
  }

  #content-box {
    height: 220px;
    width: 300px;
    margin-bottom: -7em;
  }

  #logo {
    height: 110px;
    margin: 1.5em -6em 0 0;
  }

  h1 {
    font-size: 2.5em;
    line-height: 120%;
    margin-bottom: 0.5em;
    grid-area: 5/4/7/10;
  }

  #ready{
    margin-bottom: -0.5em;
    font-size: 2.5em;
  }

  h2 {
    line-height: 300%;
    font-size: 100%;
  }

  button {
    width: 75%;
  }

  #sbmt {
    height: 40px;
  }

  /* Neon frame */
  #box-border-bottom-blue {
    display: none;
  }

  #box-border-bottom-pink {
    display: none;
  }

  #box-border-left-pink {
    display: none;
  }

  #box-border-top-blue {
    display: none;
  }

  #box-border-top-pink {
    display: none;
  }

  #box-border-left-blue {
    display: none;
  }

  #box-border-right-blue {
    display: none;
  }

  #box-border-right-pink {
    display: none;
  }

  /* Game page */
  #score-label {
    grid-area: 1/3/1/6;
    margin-top: 3.5em;
    text-align: center;
  }

  #top-score-label {
    grid-area: 1/3/1/6;
    margin-top: 1.5em;
    text-align: center;
  }

  .difficulty {
    width: 100%;
  }

  #question-area {
    margin-top: 3em;
    width: 110%;
  }

  #next {
    grid-area: 1/1/1/6;
    margin-bottom: 0;
  }

  th,
  td {
    padding: 0.2em;
  }

  /* Fun Fact page */
  #funfact {
    height: calc(var(--vh, 1vh) * 100);
  }

  #funfact-container {
    width: 85%;
    margin: 1em 0;
  }

  #fun-neon, 
  #fact-neon {
    line-height: 1.15;
  }

  /* Error pages */
  .error {
    height: calc(var(--vh, 1vh) * 100);
  }
}

/* ----- Orientation */
@media only screen and (orientation:landscape) and
(min-width: 420px) and (max-width: 991px) {
#orientation {
  opacity: 1;
  pointer-events: auto;
}
}

/* ----- Accessibility */
@media screen and (prefers-reduced-motion) { 
  h1,
  #next,
  #play-again,
  #change-name,
  .error button {
      animation: none;
    }
  }
  
