/* ---------------- Fonts */

@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Oxygen:wght@300;400&display=swap');

/* ---------------- Defaults and Variables */

:root {
    --white: #f8f8f8;
    --pink: #ff00fe;
    --cyan: #45c0fd;
    --dark: #63636b;
    --dark-blue: #070707;
  }

  * {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
  }
  
  body {
    color: var(--dark);
    font-family: Oxygen, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    background-color: var(--dark-blue);
  }